<!DOCTYPE html>
<title>Upload New File</title>
<body>
  <div id="header">
    <h1>Centroids!</h1>
    <h2>This application reads a valid geojson file and returns a valid geojson file of centroids.</h2>
  </div>
  <div id="notes">
    <p>In the resulting file:</p>
    <ul>
      <li>All properties are retained in the output file.</li>
      <li>Polygon features become points that represent the Polygon's centroid.</li>
      <li>LineString features become points that represent the middle of the LineString.</li>
      <li>Point features do not change.</li>
      <li>I have no idea how this handles MultiPolygons.</li>
    </ul>
  </div>
  <div id="form">
    <form action="" method=post enctype=multipart/form-data>
      <p><input type=file name=file>
        <input type=submit value="Make centroids">
      </p>
    </form>
  </div>
  <div id="footer">
    <p>This is a Flask application that uses the <a href="https://pypi.python.org/pypi/Shapely">Shapely</a> Python library. It was made by <a href="http://twitter.com/lyzidiamond">Lyzi Diamond</a>. <a href="http://github.com/lyzidiamond/centroids">It is on GitHub.</a></p>
    {% if map %}
      <div id="map"></div>
    {% endif %}
  </div>
</body>
